body {
    background-color: #E5E5E5;
    padding-bottom: 40px;
}

.root {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image_logo {
    width: 218px;
    margin-bottom: 100px;
}

.button_start {
    width: 345px;
    height: 72px;

    border: solid 3px #FFEF61;
    border-radius: 12px;
    background-color: #E5E5E5;

    font-weight: 700;
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_next {
    width: 18px;
    margin-left: 7px;
}

.header {
    width: 100%;
}

.header .logo-mini {
    height: 54px;
    margin-top: 26px;
    margin-left: 32px;
}

.body {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.flashcard {
    width: 392px;
    height: 575px;
    margin-top: 100px;
    padding: 15px;

    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    border: solid 5px #FFFFFF;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;
}

/* FLASHCARD FRONT*/
.flashcard-center {
    justify-content: center;
}

.flashcard .level {
    font-size: 18px;
    font-weight: 400;

    position: absolute;
    right: 15px;
    top: 15px;
}

.flashcard .question {
    font-size: 28px;
    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;
}

.flashcard .turn {
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.icon-turn {
    width: 39px;
}


/* FLASHCARD BEHIND*/
.flashcard .question-behind {
    width: 100%;

    font-size: 12px;
    font-weight: 700;

    margin-top: 5px;

    position: absolute;
    text-align: center;
    top: 20px;
    left: -2px;
}

.flashcard .answer {
    margin: 0 35px;

    text-align: center;
    line-height: 19px;

    font-size: 16px;
}

.flashcard .opcoes-behind {
    display: flex;
    justify-content: space-between;

    padding: 0 25px 5px 25px;
}

.flashcard .opcao {
    width: 65px;
    height: 48px;
    padding: 14px;

    border: solid 3px #000;
    border-radius: 12px;

    font-size: 10px;
    font-weight: 400;
    text-align: center;
    line-height: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.flashcard .opcao1{
    border-color: #000000;
}

.flashcard .opcao2{
    border-color: #F64848;
}

.flashcard .opcao3{
    border-color: #62DB38;
}

.flashcard .opcao4{
    border-color: #FFEF61;
    font-weight: 700;
}

/* FLASHCARD RESPONSE STATUS*/
.flashcard.neutral {
    border-color: #000000;   
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12);
}

.flashcard.incorrect {
    border-color: #F64848;   
    box-shadow: 0px 8px 24px rgba(246, 72, 72, 0.12);
}

.flashcard.effort {
    border-color: #62DB38;   
    box-shadow: 0px 8px 24px rgba(98, 219, 56, 0.12);
}

.flashcard.zap {
    border-color: #FFEF61;   
    box-shadow: 0px 8px 24px rgba(255, 239, 97, 0.12);
}